* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(38, 47, 73);
    color: rgb(192, 211, 240);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 992px;
}

.header div, .size-modifier {
    display: flex;
}

.header > div {
    gap: 20px;
}

.size-modifier {
    gap: 5px;
}

.size-modifier input {
    width: 75px;
    height: 100%;

    font-size: 23px;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.size-modifier button, .header > div > button, .header > div> .reset-button {
    height: 100%;
    width: 200px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(38, 47, 73);
    color: white;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
}

.size-modifier button:hover, .header > div > button:hover, .header > div> .reset-button:hover {
    transition: 0.2s;
    cursor: pointer;
    background-color: white;
    color: rgb(38, 47, 73);
}

.header > div> .reset-button {
    width: 100px;
}

.cell {
    border: 1px solid white;
}

.grid-wrapper {
    background-color: white;
    width: 992px;
    height: 1020px;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    border-radius: 10px;
}

.grid-wrapper h4 {
    width: 100%;
    text-align: center;
    font-size: 23px;
    margin-bottom: 5px;
    color: rgb(38, 47, 73);
}

#grid {
    display: flex;
    flex-wrap: wrap;

    width: 960px;
    height: 960px;
}

