* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(38, 47, 73);
    color: rgb(109, 134, 172);
}

.cell {
    border: 1px solid white;
}

#grid {
    background-color: white;
    width: 992px;
    height: 992px;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
}
